<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/meta.ejs') %>
	</head>

	<body>
		<!-- ======= Top Bar ======= -->
		<%- include('partials/topbar.ejs') %>

		<!-- ======= Header ======= -->
		<%- include('partials/header.ejs') %>

		<main id="main" data-aos="fade-up">
			<!-- ======= Breadcrumbs ======= -->
			<section class="breadcrumbs">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<h2>Careers</h2>
						<ol>
							<li><a href="i/">Home</a></li>
							<li>Careers</li>
						</ol>
					</div>
				</div>
			</section>
			<!-- End Breadcrumbs -->

			<section class="inner-page">
				<div class="container">
					<div class="section-title" data-aos="fade-up">
						<h3>IT <span>Careers</span></h3>
						<div class="title-changes">
							<h2>Contract:</h2>
							<p>
								Our contract staffing services provide flexibility to clients
								who need subject matter experts to support long and short-term
								projects or cover for critical positions during interim periods.
								Our expertise in finance and accounting, information technology,
								healthcare, human resources, and administrative staffing enables
								us to understand business needs and vet candidates thoroughly,
								ultimately providing only qualified and highly capable
								professionals who will excel in your organization's culture.
								<br /><br />
								In addition to finding you quality people, we also manage
								employment services for every consultant you contract through
								us, including background and reference checks, on-boarding,
								extension and termination, payroll services and benefits so you
								can focus on your business.
							</p>
						</div>
						<div class="title-changes">
							<h2>Contract-to-hire:</h2>
							<p>
								With TopHatrix, you can engage contractors or consultants on a
								temporary basis, giving you the chance to really become intimate
								with their skills and how they fit with your team with the
								option to bring them on permanently only after an evaluation
								period. You can also leverage contract-to-hire flexibility to
								augment projects and scale your teams at a moderate pace that
								doesn't overburden your capacity for headcount.
							</p>
						</div>
						<div class="title-changes">
							<h2>Direct Hire:</h2>
							<p>
								With our direct hire staffing services, we provide highly
								qualified vetted professionals to fill full-time positions at
								every level of employment, from entry level to leadership.
								Specializing in information technology, finance and accounting,
								healthcare, human resources, and administrative functions, our
								differentiation is our understanding of specialized roles and
								our extensive talent network, which is national in breadth with
								deep penetration. When we conduct a talent search for you, we go
								beyond reading a resume to bring you top candidates whose actual
								experience and career objectives align to your job requirements
								and who will also be a culture fit for your organization and
								team. Our methodology ensures that we approach every position
								strategically, moving with both urgency and care, so you can be
								sure to get the very best candidates for the position you need
								to fill. With our contingent model, our success is dependent on
								your success, so you've got nothing to lose in working with us.
							</p>
						</div>
					</div>
				</div>
			</section>
			<%- include('partials/jobs.ejs') %>
		</main>

		<!-- ======= Footer ======= -->
		<%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
	</body>
</html>
