<!DOCTYPE html>
<html class="no-js" lang="zxx">
	<%- include('partials/meta.ejs') %>
	<body>
		<%- include('partials/header.ejs') %>

		<main>
			<div
				class="slider-area slider-area2 slider-height2 position-relative"
				data-background="assets/img/hero/hero2.png"
			>
				<div class="slider-active">
					<!-- Single Slider -->
					<div class="single-slider">
						<div class="slider-cap-wrapper">
							<div class="hero-caption">
								<h1 data-animation="fadeInLeft" data-delay=".4s">Jobs</h1>
								<!-- breadcrumb Start-->
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="/">Home</a>
										</li>
										<li class="breadcrumb-item"><a href="#">Jobs</a></li>
									</ol>
								</nav>
							</div>

							<!-- breadcrumb End -->
							<div class="hero-img">
								<img
									src="assets/img/hero/h1_hero2.png"
									alt=""
									data-animation="fadeInRight"
									data-transition-duration="5s"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Acordian -->
			<!-- <div>
				
				<ul>
					<li>
						<input type="checkbox" checked />
						<i></i>
						<h2>Languages Used</h2>
						<div class="site-section">
							<div class="container">
								<div class="row">
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<input type="checkbox" checked />
						<i></i>
						<h2>How it Works</h2>
						<div class="site-section">
							<div class="container">
								<div class="row">
									
								
								</div>
							</div>
						</div>
					</li>
					<li>
						<input type="checkbox" checked />
						<i></i>
						<h2>Points of Interest</h2>
						<div class="site-section">
							<div class="container">
								<div class="row">
									
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<input type="checkbox" checked />
						<i></i>
						<h2>Points of Interest</h2>
						<div class="site-section">
							<div class="container">
								<div class="row">

								</div>
							</div>
						</div>
					</li>
					<li>
						<input type="checkbox" checked />
						<i></i>
						<h2>Points of Interest</h2>
						<div class="site-section">
							<div class="container">
								<div class="row">

								</div>
							</div>
						</div>
					</li>
				</ul>
			</div> -->
			<%- include('partials/jobs.ejs') %>

		</main>

		<%- include('partials/footer.ejs') %>
		<!-- JS here -->
		<%- include('partials/scripts.ejs') %>
	</body>
</html>
