<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/meta.ejs') %>
	</head>

	<body>
		<!-- ======= Top Bar ======= -->
		<%- include('partials/topbar.ejs') %>

		<!-- ======= Header ======= -->
		<%- include('partials/header.ejs') %>

		<main id="main" data-aos="fade-up">
			<!-- ======= Breadcrumbs ======= -->
			<section class="breadcrumbs">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<h2>Free Lancing</h2>
						<ol>
							<li><a href="/">Home</a></li>
							<li>Free Lancing</li>
						</ol>
					</div>
				</div>
			</section>

			<section id="featured-services" class="featured-services">
				<div class="container" data-aos="fade-up">
					<div class="section-title">
						<h2>Freelancing</h2>
						<h3>How it <span>Works</span></h3>
						<p>
							Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
							adipisci expedita at voluptas atque vitae autem.
						</p>
					</div>
					<div class="row">
						<div
							class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
						>
							<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
								<div class="icon"><i class="bx bx-file"></i></div>
								<h4 class="title"><a href="">Post Project</a></h4>
								<p class="description">
									Post a Project to tell us about your project. We'll quickly
									match you with awesom freelancers.
								</p>
							</div>
						</div>

						<div
							class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
						>
							<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
								<div class="icon"><i class="bx bx-file-find"></i></div>
								<h4 class="title"><a href="">Find & Hire</a></h4>
								<p class="description">
									Browse Proposals, profiles of freelancers & their reviews.
									Compare, Interview & Finalise the candidate.
								</p>
							</div>
						</div>

						<div
							class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
						>
							<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
								<div class="icon"><i class="bx bx-award"></i></div>
								<h4 class="title"><a href="">Award & Pay</a></h4>
								<p class="description">
									Award Project to the finalised freelancer on Truelancer &
									enjoy 100% money back gurantee using Safe Deposit.
								</p>
							</div>
						</div>

						<div
							class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
						>
							<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
								<div class="icon"><i class="bx bxs-eraser"></i></div>
								<h4 class="title"><a href="">Work & Aprrove</a></h4>
								<p class="description">
									Use Truelancer to chat, share files & collaborate with your
									freelancer. Release the payment once satisfied.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<!-- ======= Footer ======= -->
		<%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
	</body>
</html>
