<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/meta.ejs') %>
	</head>

	<body>
		<!-- ======= Top Bar ======= -->
		<%- include('partials/topbar.ejs') %>

		<!-- ======= Header ======= -->

		<%- include('partials/header.ejs') %>

		<!-- ======= Hero Section ======= -->
		<%- include('partials/hero.ejs') %>

		<main id="main">
			<!-- ======= Featured Services Section ======= -->
			<%- include('partials/features.ejs') %>

			<!-- ======= About Section ======= -->
			<%- include('partials/about.ejs') %>

			<!-- ======= Why CHoose US Section ======= -->
			<%- include('partials/chooseus.ejs') %>

			<!-- ======= Skills Section ======= -->
			<!-- <%- include('partials/skills.ejs') %> 
                
            <!-- ======= Counts Section ======= -->
			<%- include('partials/counts.ejs') %>

			<!-- ======= Clients Section ======= -->
			<%- include('partials/clients.ejs') %>

			<!-- ======= Services Section ======= -->
			<%- include('partials/services.ejs') %>

			<!-- ======= Testimonials Section ======= -->
			<%- include('partials/feedbacks.ejs') %>

			<!-- ======= Portfolio Section ======= -->
			<!-- <%- include('partials/portfolio.ejs') %> 

			<!-- ======= Team Section ======= -->
			<!-- <%- include('partials/team.ejs') %> 
                
            <!-- ======= Pricing Section ======= -->
			<!-- <%- include('partials/pricing.ejs') %> 
                
            <!-- ======= Frequently Asked Questions Section ======= -->
			<!-- <%- include('partials/faq.ejs') %> 
                
            <!-- ======= Contact Section ======= -->
			<%- include('partials/ctc.ejs') %>
		</main>

		<!-- ======= Footer ======= -->
		<%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
	</body>
</html>
