<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/meta.ejs') %>
	</head>

	<body>
		<!-- ======= Top Bar ======= -->
		<%- include('partials/topbar.ejs') %>

		<!-- ======= Header ======= -->
		<%- include('partials/header.ejs') %>

		<main id="main" data-aos="fade-up">
			<!-- ======= Breadcrumbs ======= -->
			<section class="breadcrumbs">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<h2>Training</h2>
						<ol>
							<li><a href="/">Home</a></li>
							<li>Training</li>
						</ol>
					</div>
				</div>
			</section>
			<!-- End Breadcrumbs -->

			<section class="about section-bg">
				<div class="container" data-aos="fade-up">
					<div class="section-title">
						<!-- <h2>Training</h2> -->
						<h3>Our <span>Training</span></h3>
						<p style="width: auto">
							Online Training gives comprehensive training from our expert
							instructors using seamless over the web-connectivity. It delivers
							the same high quality content, course work and experience as our
							physical classroom training. This kind of training methodology is
							considered as a boon to working professionals.
						</p>
					</div>

					<div class="row">
						<div
							class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
							data-aos="fade-up"
							data-aos-delay="100"
						>
							<ul class="choose-section">
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Ullamco laboris nisi ut aliquip consequat</h5> -->
										<p>Train from wherever you choose.</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>
											Attend the sessions from home at your flexible timings.
										</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>
											Provides e-learning and online training for everyone
											around the world.
										</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>We conduct individual or one-to-one online programs.</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>Training at ASTS focuses solely on your needs.</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>Offers interview oriented training.</p>
									</div>
								</li>
								<li>
									<i class="bx bx-check-circle"></i>
									<div>
										<!-- <h5>Magnam soluta odio exercitationem reprehenderi</h5> -->
										<p>
											The fee Structure at TopHatrix varies from course to
											course. Your valuable money is worth investing at
											TopHatrix.
										</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
							<img src="assets/img/learn.jpeg" class="img-fluid" alt="" />
						</div>

						<div class="section-title title-changes" data-aos="fade-up">
							<h3>Job Placement <span> Assistance Program </span></h3>
							<p>
								TopHatrix IT TRAINING has been actively involved in Job
								Placement Assistance as a value-added service in the Software
								Training Program. With the backup of an advanced training
								curriculum and real-time business projects, we have a very
								consistent and growing Job Placement Track Record.
							</p>
							<p>
								The Software Training Programs are accommodated by continuous
								assessments and sharing common Interview FAQs.
							</p>
							<p>
								Students are encouraged to proactively participate in Seminars
								on Interview Handling Skills.
							</p>
							<p>
								During Workshops / Seminars, Knowledge is shared about focusing
								on all the aspects of an Interview apart from Technical Aspects.
							</p>
							<p>
								Active Coordination with students from the stage of preparing a
								professional CV / Resume to attending Interviews and securing a
								Job.
							</p>
							<p>
								Preliminary Preparation ensures that our Students are able to
								perform confidently in Interviews even it was their First
								Interview. As a part of our Successful and Continuous Job
								Placement Assistance, we maintain the track for our student
								reference.
							</p>
						</div>
						<section id="featured-services" class="featured-services">
							<div class="container" data-aos="fade-up">
								<div class="section-title">
									<h3>Training <span>Features</span></h3>
									<p>
										Ut possimus qui ut temporibus culpa velit eveniet modi omnis
										est adipisci expedita at voluptas atque vitae autem.
									</p>
								</div>
								<div class="row">
									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="100"
										>
											<div class="icon"><i class="bx bx-support"></i></div>
											<h4 class="title"><a href="">24/7 Support</a></h4>
											<p class="description">
												Do not hestitate to ask... because we will work
												according to your calender.
											</p>
										</div>
									</div>

									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="200"
										>
											<div class="icon"><i class="bx bx-time"></i></div>
											<h4 class="title"><a href="">E-Learning Sessions</a></h4>
											<p class="description">
												Online training sessions are held live and we provide
												students with the training videos for missed sessions.
											</p>
										</div>
									</div>

									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="300"
										>
											<div class="icon"><i class="bx bx-tachometer"></i></div>
											<h4 class="title"><a href="">Flexible Schedule</a></h4>
											<p class="description">
												Do not hestitate to ask... because we will work
												according to your calender.
											</p>
										</div>
									</div>

									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="400"
										>
											<div class="icon">
												<i class="bx bx-message-rounded-dots"></i>
											</div>
											<h4 class="title">
												<a href="">Instructor-Led Training Sessions</a>
											</h4>
											<p class="description">
												We belive to provide our students the best interactive
												experience as part of their learning.
											</p>
										</div>
									</div>
									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="400"
										>
											<div class="icon"><i class="bx bx-world"></i></div>
											<h4 class="title">
												<a href="">Industry Specific Scenarios</a>
											</h4>
											<p class="description">
												Students are provided with all the Real-Time and
												Relevant Scenarios.
											</p>
										</div>
									</div>
									<div
										class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5"
									>
										<div
											class="icon-box"
											data-aos="fade-up"
											data-aos-delay="400"
										>
											<div class="icon"><i class="bx bx-book-reader"></i></div>
											<h4 class="title"><a href="">Expert Trainers</a></h4>
											<p class="description">
												We constantly evaluate our trainers and only the "Best"
												Provides the Training.
											</p>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<!-- End Choose US Section -->
		</main>

		<!-- ======= Footer ======= -->
		<%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
	</body>
</html>
